html {
    scroll-behavior: smooth;
}

body {
    max-width: 100rem;
    font-family: 'Source Sans Pro';
    margin: 0;

    background-color: rgb(33, 37, 41);
    -ms-overflow-style: none;
}
 
::-webkit-scrollbar {
  display: none;
}

a {
    text-decoration-style: none;
}

.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(33, 37, 41);
    padding-right: 30px;
    position: sticky;
    top: 0px;
    z-index: 2;
}

.main {
    font-size: 20px;
    align-items: center;
    text-align: center;
}

.logo{
    margin-left: 2rem;
    color: white;
    transition-property: all;
    transition-duration: 0.5s;
    font-weight: 200;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    max-width: 100px;
    max-height: 50px;
}


.topbarlists {
    display: flex;
    color: white;
    text-decoration-line: none;
    list-style: none;
}

.topbarlists a{
    color: white;
    transition: 0.2s;
    text-decoration: none;
}

.topbarlists li{
    padding: 0rem 1rem;
}

.topbarlists :hover{
    color: rgb(177, 177, 177);
}

.midbar {
    width: 100%;
    height: 25rem;
    background-color: #7289da;
}

.circle__picture {
    display: block;
}

.circle__picture img{
    transition-property: all;
    transition-duration: 0.5s;
}

.circle__picture img:hover{
    transform: rotate(720deg);
    box-shadow: 5px 5px 5px 5px #6880d7;
}

#circle__p {
    border-radius: 50%;
    margin-top: 5rem;
}

.under__picture {
    color: white;
    font-size: 28px;
    padding-top: 20px;
}

.under__picture b{
    transition-duration: 0.5s;
}

.under__picture b:hover{
    color: #ff1dd0;
    font-size: larger;
}

.under__picture a{
    font-size: 15px;
    font-weight: 10;
    color: aliceblue;
}

.space {
    background-color: rgb(33, 37, 41);
    width: screen;
    height: 15rem;
    padding-top: 0;
    border-top: 0;
}

.botbar__first {
    background-color: rgb(33, 37, 41);
    width: screen;
    padding-top: 0;
    border-top: 0;
}

.informations {
    padding-top: 5rem;
    text-align: center;
}

.informations h1{
    color: white;
    font-weight: 100;
    font-size: 32px;
}

.informations a{
    color: white;
    font-size: large;
}

.thiner {
    font-weight: 50;
}

.about__picture {
    width: screen;
    height: 22rem;
    background: url("https://ifh.cc/g/ApKNLz.jpg") no-repeat;
    background-size: cover;
    margin-top: 5rem;
    padding-bottom: 5rem;
    margin-bottom: 5rem;
    transition-duration: 0.5s;
}

.about__picture:hover {
    height: 30rem;
}

.profile {
    height: 20rem;
    width: auto;
}

.staff__and__managers {
    color: white;
    font-weight: 100;
    font-size: 32px;
    text-align: center;
}

.user__profile {
    color: white;
    margin: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 30rem;
    text-align: center;
    background-color: #36393f;
    border-radius: 20px;
    font-size: 30px;
    font-weight: 1000;
    align-items: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
    transition-property: all;
    transition-duration: 0.5s;
}

.user__profile img{
    width: 30%;
    height: 30%;
    border-radius: 50%;
    float: left;
    margin-left: 60px;
    align-items: center;
    margin-top: -20px;
}

.user__profile:hover{
    background-color: #3f4249;
    box-shadow: 5px 5px 5px 5px rgb(31, 31, 31);
    width: 35rem;
    padding-top: 5rem;
    padding-bottom: 6.5rem;
}

.user__profile a{
    color: rgb(204, 204, 204);
}

.botbar__second {
    padding-top: 10rem;
}

.join__id {
    margin-bottom: 5rem;
}

.join__text {
    text-align: center;
}

.join__text h1 {
    color: white;
    font-weight: 100;
    font-size: 32px;
}

.join__text a {
    color: white;
    font-weight: bolder;
    font-size: 24px;
    
}

.join__button {
    text-align: center;
    padding-top: 3rem;
}

.join {
    width: 120px;
    height: 40px;
    background-color: #6880d7;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    transition-duration: 0.2s;
}

.join:hover{
    background-color: #5d77d5;
    cursor: pointer;
    width: 125px;
    height: 45px;
    border-radius: 25px;
}

.under__space {
    padding-top: 15rem;
    padding-bottom: 5rem;
}

.footer {
    padding-top: 1rem;
}

.footer__container {
    text-align: center;
}

.footer__text__here {
    display: absolute;
    color: white;
}

@media screen and (max-width:426px){

    body {
        font-family: 'Source Sans Pro';
        margin: 0;
    
        background-color: rgb(33, 37, 41);
        -ms-overflow-style: none;
    }

    .under__picture {
        color: white;
        font-size: 20px;
        padding-top: 15px;
    }
    
    .under__picture b:hover{
        color: #ff1dd0;
        font-size: 24px;
    }
    
    .topbarlists{
        display: none;
    }

    .user__profile {
        color: white;
        margin: auto;
        padding-top: 2rem;
        padding-bottom: 2rem;
        width: 15rem;
        text-align: center;
        background-color: #36393f;
        border-radius: 20px;
        font-size: 15px;
        font-weight: 700;
        align-items: center;
        margin-bottom: 1rem;
        margin-top: 1rem;
        transition-property: all;
        transition-duration: 0.5s;
    }
    
    .user__profile img{
        width: 20%;
        height: 20%;
        border-radius: 50%;
        float: left;
        margin-left: 40px;
        align-items: center;
        margin-top: 0px;
    }
    
    .user__profile:hover{
        background-color: #3f4249;
        box-shadow: 5px 5px 5px 5px rgb(31, 31, 31);
        width: 17rem;
        padding-top: 3rem;
        padding-bottom: 3.5rem;
    }

    .join__text h1 {
        color: white;
        font-weight: 100;
        font-size: 24px;
    }
    
    .join__text a {
        color: white;
        font-weight: bolder;
        font-size: 16px;
        
    }

    .join {
        width: 80px;
        height: 30px;
        background-color: #6880d7;
        color: white;
        font-size: 12px;
        font-weight: bold;
        border-radius: 20px;
        transition-duration: 0.2s;
    }
    
    .join:hover{
        background-color: #5d77d5;
        cursor: pointer;
        width: 85px;
        height: 35px;
        border-radius: 25px;
    }

    .footer__text__here{
        font-size: smaller;
    }
}
